body { color: yellowgreen;
}
   
header {
    background-color: green;
    text-transform: uppercase;
   
    border-radius: 10px;
   
}
a {
    color:black;
  
    border: 4px solid black;
    border-radius: 8px;
    margin: 5px;
    white-space: nowrap; /* chatgpt kód */
    display: inline-block; /*chatgpt kód */
      
}

nav {
    margin-bottom: 10px;
    padding: 5px;
    text-decoration: none;
    

}
* {
    box-sizing: border-box;
}
img {
    width:100%
    border 5px solid black;
    border-radius: 10px;
}
section {
    margin-top: 10px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 15px;
    background-color: green;
}
p {
    border: 5px solid black;
    border-radius: 10px;
    background-color: greenyellow;
}


#bekezdes_footer {
    background-color: green;
    border: 5px solid black;
    font-size: large;
}
header{
    border: 5px solid black;
    text-align: center;

}
a:hover{
    color: greenyellow;
}
#elso_section.img{
    width: 100%;
    height: 100%;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    
    @media screen and (max-width: 800px) {
        article{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }
        
    }
    @media screen and (max-width: 500px) {
        article{
            display: grid;
            grid-template-columns:1fr;
            gap: 10px;
        }
        
    }
}